.header{
    overflow: hidden;
    position: absolute;
    background-color: #151515;
    border-radius: 0 0 1rem 1rem;
    outline: #1BFD9C solid 1px;
    height: 7.5rem;
    width: 100%;
    display: inline-block;
    /*align-items: center;*/
    align-items: flex-start;
    transition: height 0.3s ease-in-out;
    top: 0;
}

.minorBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.header.open {
    height: calc(10% + 7.5rem);
    align-items: flex-start;
}

#headerLogo{
    width: 5rem;
    bottom: 0;
}

.menu{
    bottom: 0;
}

#title{
    color: white;
    padding-left: 1%;
    font-size: 3rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    bottom: 0;
}

.menuOptions {
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
}

.btn {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
}

.btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #91f859,
    0 15px 0 -4px #39dbdb,
    0 16px 10px -3px #39dbdb;
}

.btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #91f859,
    0 8px 0 -4px #39dbdb,
    0 12px 10px -3px #39dbdb;
}

