header{
    background-color: #151515;
    border-radius: 0 0 10px 10px;
    outline: #1BFD9C solid 1px;
    height: 5%;
    display: flex;
    align-items: center;


}

spacer{
    flex-grow: 1;

}

#headerLogo{
    width: 5%;
}

#title{
    color: white;
    padding-left: 1%;
    font-size: 2vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}