.signup-input {
    font-weight: 500;
    font-size: .8rem;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4rem rgba(0,0,0,0.5), 0 0 0 .15rem transparent;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 50%;
    transition: .4s;
    position: relative;
}

.toLoginLink {
    color: #87eb89;
    text-decoration: none;
    font-weight: 500;
    font-size: .8rem;
    margin-top: 1rem;
}

.bottomText {
    color: white;
    font-size: .8rem;
    margin-top: 1rem;
}

.signupHeader {
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.signup-input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 235, 137, 0.18);
}

.signup-input:focus {
    box-shadow: 0 0 0 .15vw #87eb89;
}

.signup-formBackground {
    background-color: #1B1B1B;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: var(--ui-main-green) 0 0 1vw;
    min-width: 20rem;
    min-height: 30rem;
    width: 30%;
    height: 50%;
    transition: .4s;
}

.signup-formBackground:hover {
    box-shadow: var(--ui-main-green) 0 0 1.5vw;
}

.signup-submitBtn {
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500; /* Match font-weight with .input */
    font-size: .8rem; /* Match font-size with .input */
    cursor: pointer;
    color: white;
    background: #1d1d1d;
    letter-spacing: 0.7px;
    margin-bottom: 0.5rem
}

.signup-submitBtn:hover {
    background: linear-gradient(to left, var(--ui-main-green-opacity-change), var(--ui-main-blue-opacity-change));
    color: #1d1d1d;
}

.ssignup-ubmitBtn:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    fill: #1d1d1d;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.signup-submitBtn:active {
    transform: scale(0.97);
}

.nameBoxes{
    display: flex;
    justify-content: space-between;
    width: calc(50% + 1rem);
}