html, body {
    font: 16px 'Roboto', sans-serif;

    height: 100%;
    margin: 0;
    --ui-main-green: #00ff04;
    --ui-main-green-opacity-change: #00ff04a0;
    --ui-main-black: #1B1B1B;
    --ui-main-white: #fff;
    --ui-main-grey: #1d1d1d;
    --ui-main-blue: #39dbdb;
    --ui-main-blue-opacity-change: #39dbdba0;
}

body{
    background-color: var(--ui-main-black);
}

